ul.list--hz {
	list-style-type: none;
	padding: 0 !important;
	font-size: 0;
	li {
		display: inline-block;
		margin-right: 0.5em;
		font-size: $font_size-std;
		&:last-child {
			margin-right: 0;
		}
	}
	&.mob-stack {
		@media screen and (max-width: 480px) {
			li {
				display: block;
				margin-right: 0;
			}
		}
	}
}

ul.list--csv {
	li {
		display: inline-block;
		margin-right: 0.5em;
		font-size: $font_size-std;
		&:after {
			content: ",";
		}
		&:first-child {
			font-weight: bold;
		}
		&:first-child:after {
			content: ":";
		}
		&:last-child {
			margin-right: 0;
			&:after {
				content: ".";
			}
		}
	}
}

ul.list--blocks {
	list-style-type: none;
	padding: 0;
	li {
		display: block;
		padding: 5px;
		margin: 5px 0;
	}
}

ul.list--flags {
	width: 100%;
	li {
		margin: 0;
		a {
			display: block;
			padding: ($baseline / 2);
			margin: 0 ($baseline / 2) ($baseline / 2) 0;
			background-color: $clr_black;
			color: $clr_bg-main;
			font-size: $font_size-sml;
			text-decoration: none;
			line-height: 1;
			&:hover {
				background-color: lighten($clr_black, 50%) !important;
			}
			&:last-child {
				a {
					margin: 0;
				}
			}
		}
	}
}