// Body Copy
[class*="content"] {
	font-family: $font_face-main;
	font-size: 1rem;
	color: $font_clr-main;
	letter-spacing: normal;
	font-style: normal;
	text-decoration: none;
	font-weight: 400;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	b,
	strong {
		font-family: inherit;
		font-weight: 600;
	}
	em,
	i {
		font-family: inherit;
		font-style: italic;
	} // Headers
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $font_face-accent;
	}
	h1 {
		font-size: $font_size-xlg;
	}
	h2 {
		font-size: $font_size-lrg;
		color: $clr_black;
	}
	h3 {
		font-size: $font_size-med;
		color: $clr_black;
	}
	h4,
	h5,
	h6 {
		font-size: $font_size-std;
	}
	.post-single & {
		p {
			display: block;
			margin: $baseline 0 ($baseline * 1.3) 0;
			line-height: 1.66;
			font-size: 1rem;
		}
	}
	hr {
		color: $clr_black;
		height: 1px;
		opacity: 0.2;
		margin: ($baseline / 2) 0 (($baseline / 2) - 1) 0;
	}
	/* HTML Styling */
	.pre,
	pre {
		display: block;
		@extend %padding-standard;
		background-color: darken($clr_bg-main, 2%);
		@extend %card;
		font-family: "Operator Mono", "Dank Mono", "Fira Code", "Roboto Mono", "Inconsolata", "Ubuntu Mono", Courier, monospace;
		font-size: 1rem;
	}
}