// Body Copy
body {
	font-family: $font__face--main;
	font-size: 1rem;
	color: $font__color--main;
	letter-spacing: normal;
	font-style: normal;
	text-decoration: none;
	font-weight: 400;
	text-align: left;
	-webkit-font-smoothing: antialiased;

	strong, b {
		font-family: inherit;
		font-weight: 600;
	}

	em, i {
		font-family: inherit;
		font-style: italic;
	}

	// Headers
	h1, h2, h3, h4, h5, h6 {
		display: block;
		padding: 0;
		margin: 0;
		font-family: $font__face--accent;
	}

	h1 {
		font-size: $font__size--xlg;
		font-weight: 600;
	}

	h2 {
		font-size: $font__size--lrg;
		font-weight: 600;
		color: $color__brand--main;
	}

	h3 {
		font-size: $font__size--med;
		color: $color__brand--main;
	}

	h4, h5, h6 {
		font-size: $font__size--std;
		font-weight: bold;
		text-transform: uppercase;
	}

	p {
		display: block;
		margin: $baseline 0 ($baseline * 1.3) 0;
		line-height: 1.66;
		font-size: 1rem;
	}

	hr {
		color: $color__brand--main;
		height: 1px;
		opacity: 0.2;
		margin: ($baseline / 2) 0 (($baseline / 2) - 1) 0;
	}

	// HTML Styling
	pre, .pre {
		display: block;
		background-color: darken($color__background--main, 2%);
		border: 1px solid darken($color__background--main, 5%);
		font-family: "Courier New", Courier, monospace;
		font-size: ($baseline - 2);
		padding: $baseline;
		margin: $baseline 0;
	}
}
