@import 'base/variables';
@import 'global/links';
@import 'typography/typography';

html .mceContentBody, .mce-content-body {
	background: $clr_bg-accent;
	max-width: 640px;
	padding: $baseline;
	margin: 0 auto;
	position: relative;
	z-index: 110;
	font-size: $font_size-std;
	max-width: 640px;
	margin: 0 auto;
	padding: $baseline;
	line-height: 1.75;
	ul, ol {
		padding: $baseline ($baseline * 2);
		li {
			line-height: 1.5;
			padding-bottom: ($baseline / 2);
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
	.intro, p:first-child {
		font-family: $font_face-accent !important;
		font-size: $font_size-med;
		font-weight: 200;
		line-height: 1.5;
		p {
			font-family: inherit;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;
		}
	}
	h1, h2, h3, h4, h5, h6 {
		line-height: 125%;
		margin-bottom: $baseline;
	}
	.alignleft, .alignright, .aligncenter, .alignnone {
		display: block;
		margin-top: $baseline;
		margin-bottom: $baseline;
		vertical-align: text-top;
	}
	.alignleft {
		float: left;
		margin-left: 0;
		margin-right: $baseline;
	}
	.alignright {
		float: right;
		margin-left: $baseline;
		margin-right: 0;
	}
	.aligncenter, .alignnone {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	img, figure, .wp-caption, .wp-caption .wp-caption-dt {
		display: block;
		max-width: 100% !important;
		height: auto !important;
		margin: 0 auto;
	}
	figcaption, .wp-caption-text, .wp-caption-dd {
		display: block;
		width: 100%;
		padding: ($baseline / 2);
		font-size: $font_size-sml;
		text-align: center;
		background-color: darken(rgba($clr_bg-accent, $opacity-standard), 5%);
	}
	blockquote {
		display: block;
		width: 100%;
		margin: ($baseline / 2) 0;
		padding: ($baseline / 2) $baseline;
		border-left: ($baseline / 4) solid $clr_black;
		font-weight: normal;
		font-style: italic;
		color: lighten($font_clr-main, 10%);
		font-size: $font_size-med;
		font-family: $font_face-accent;
		p {
			font-size: inherit;
			margin: 0;
		}
		a {
			text-decoration: none;
		}
		a span, span, span a, cite, cite a, a cite {
			display: block;
			text-align: right;
			&:before {
				content: "~ ";
			}
		}
		&:before, &:after {
			content: "";
			display: table;
			clear: both;
			float: none;
		}
	}
}