form {
	width: 100%;
	display: block;
	input, textarea {
		padding: 0 ($baseline);
		margin: 0;
		border: 2px solid $color__brand--main;
		font-family: $font__face--main;
		font-size: $font__size--std;
		font-weight: normal;
		color: $color__background--main;
		text-decoration: none;
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		background: none;
		@include border-radius(8px);
		transition: $transition__easing--main $transition__speed--fast;
	}

}