form {
	width: 100%;
	display: block;
	input, textarea {
		padding: 0 ($baseline);
		margin: 0;
		border: 2px solid $clr_black;
		font-family: $font_face-main;
		font-size: $font_size-std;
		font-weight: normal;
		color: $clr_bg-main;
		text-decoration: none;
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		background: none;
		@include border-radius(8px);
		transition: $ease-main $speed-fast;
	}

}