// Buttons
button, .button, input[type="submit"] {
	padding: $baseline;
	margin: 0 ($baseline / 2);
	line-height: 1;
	border: none;
	font-family: $font_face-accent;
	font-size: $font_size-sml !important;
	font-weight: bold;
  color: $clr_bg-main !important;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	background-color: rgba($clr_black, 1);
	width: auto;
	transition: $ease-main $speed-fast;
	-webkit-transition: $ease-main $speed-fast;
	@media screen and (max-width: 400px) {
		width: 100%;
	}
	&:hover {
		background-color: darken($clr_grey-mid, 20%);
	}
	&.button--big {
		display: block;
		margin: $baseline auto 0 auto;
		max-width: 320px;
	}
}

button::-moz-focus-inner, select::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner {
	border: 0;
}

button:focus, select:focus, input:focus, textarea:focus {
	outline: 0;
}

.skip-link {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	width: 48px;
	height: 48px;
}
