html {
	font-size: 18px;
	@media (min-width: 768px) {
		font-size: between(22px, 18px, 768px, $max-width);
	}
	@media (min-width: $max-width) {
		font-size: 20px;
	}
	@media (min-width: 1920px) {
		font-size: 22px;
	}
	-webkit-overflow-scrolling: touch;
	* {
		@include box-sizing(border-box);
		@include textSize(none);
		padding: 0;
		margin: 0;
	}
}

body {
	// Structure
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	@include box-sizing(border-box);
	@supports (scroll-behavior: smooth) {
		scroll-behavior: smooth;
	} // Background
	background-color: $clr_bg-accent; // Text
	::-moz-selection {
		color: $clr_bg-main;
		background: rgba($clr_black, $opacity-solid);
	}
	::selection {
		color: $clr_bg-main;
		background: rgba($clr_black, $opacity-solid);
	} // Define the centralised maximum width for the main body content
	.container {
		padding: 0;
		font-size: 0;
		text-align: center;
	}
	#main {
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		transition: $ease-main $speed-fast;
		&.open {
			transform: translate(-300px, 0);
			-webkit-transform: translate(-300px, 0);
		}
	}
}

.central-column {
	max-width: $max-width;
	margin-right: auto;
	margin-left: auto;
}