.post__wrapper--link {
	text-decoration: none;
}

header.post__header {
	overflow: hidden;
}

.post__wrapper--image {
	display: table;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	.hero__title--wrapper {
		position: relative;
		z-index: 100;
		display: table-cell;
		vertical-align: bottom;
		text-align: left;
		width: 100%;
		height: 100%;
		padding: 0;
		@include linear-gradient(rgba($clr_shadow, $opacity-transparent), rgba($clr_shadow, $opacity-standard));
	}
	h1 {
		max-width: 800px;
		margin: 0 auto;
		padding: 1rem;
		@media (max-width: 800px) {
			padding: 2rem;
		}
		text-align: left;
		font-family: $font_face-accent;
		color: $clr_bg-main;
		font-size: 3rem;
		text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
		text-decoration: none;
	}
	p {
		display: block;
		max-width: 400px;
		margin: $baseline auto;
		color: $clr_bg-main;
		text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
		text-decoration: none;
	}
	@media screen and (max-width: 567px) {
		h1 {
			font-size: $font_size-lrg;
		}
	}
	@media screen and (min-width: 568px) and (max-width: 799px) {
		h1 {
			font-size: 6vw;
		}
	}
}

.post-teaser {
	.post__wrapper--image {
		.hero__title--wrapper {
			.hero__title.hero__title--post {
				max-width: 100%;
			}
		}
	}
	.hero-image {
		height: 30rem;
	}
}

.hero-image {
	display: table;
	width: 100%;
	height: 90vh;
	overflow: hidden;
	position: relative;
}

.hero-full,
.hero-thumb {
	width: 100%;
	height: 100%;
	object-fit: cover;
	-o-object-fit: cover;
	object-position: top center;
	-o-object-position: top center;
	transition: opacity $ease-main $speed-slow;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}

.hero-thumb {
	z-index: 1;
}

.hero-full {
	z-index: 0;
}

.hero-full.hide,
.hero-thumb.hide {
	opacity: 0;
}

.hero__image--page {
	.hero__title--wrapper {
		text-align: center;
		vertical-align: middle;
	}
	h1 {
		text-align: center;
		&:before {
			content: "";
			display: block;
			width: 72px;
			height: 100px;
			vertical-align: middle;
			background-image: url('img/cupcake--white.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			margin: $baseline auto;
		}
		&:hover {
			&:before {
				@include animation(pulse 0.25s 1);
			}
		}
	}
	p {
		a {
			color: $clr_bg-main;
			border: none;
			font-size: $font_size-lrg;
			&:hover {
				color: $clr_bg-main;
			}
		}
	}
}