article.post-single {
	width: 100%;
	.inner {
		@extend .central-column;
		padding: 0 0.5rem;
	}
	.post__content {
		display: block;
    background: $clr_bg-main;
		position: relative;
		z-index: 110;
		font-size: 1rem;
		margin: 0 auto;
		padding: 2rem;
		line-height: $lh;
		text-align: left;
		ul, ol {
			padding: $baseline ($baseline * 2);
			li {
				line-height: 1.5;
				padding-bottom: ($baseline / 2);
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		.intro {
			font-family: $font_face-accent !important;
			font-size: $font_size-med;
			font-weight: 200;
			line-height: 1.5;
			p {
				font-family: inherit;
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
			}
		}
		h1, h2, h3, h4, h5, h6 {
			line-height: 125%;
			margin: ($baseline * 3) 0 $baseline 0;
		}
		.alignleft, .alignright, .aligncenter, .alignnone {
			display: block;
			margin-top: $baseline;
			margin-bottom: $baseline;
			vertical-align: text-top;
		}
		.alignleft {
			float: left;
			margin-left: 0;
			margin-right: $baseline;
		}
		.alignright {
			float: right;
			margin-left: $baseline;
			margin-right: 0;
		}
		.aligncenter, .alignnone {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
		img, figure, .wp-caption {
			display: block;
			max-width: 100% !important;
			height: auto !important;
			margin: 0 auto;
		}
		figcaption, .wp-caption-text {
			display: block;
			width: 100%;
			padding: ($baseline / 2);
			margin: 0 auto;
			font-size: $font_size-sml;
			text-align: center;
			background-color: darken(rgba($clr_bg-accent, $opacity-solid), 5%);
			position: relative;
			&:before {

					content: "";
					width: 0;
					height: 0;
					border-left: $baseline solid transparent;
					border-right: $baseline solid transparent;
					border-bottom: $baseline solid darken(rgba($clr_bg-accent, $opacity-solid), 5%);
					position: absolute;
					top: -($baseline);
					left: ($baseline * 2);
					z-index: 5000;

			}
		}
		blockquote {
			display: block;
			width: 100%;
			margin: ($baseline / 2) 0;
			padding: ($baseline / 2) $baseline;
			border-left: ($baseline / 6) solid $clr_brand;
			font-weight: normal;
			font-style: normal;
			color: lighten($font_clr-main, 10%);
			font-size: $font_size-std;
			font-family: $font_face-accent;
			p {
				font-size: inherit;
				margin: 0;
			}
			a {
				text-decoration: none;
			}
			a span, span, span a, cite, a cite, cite a {
				display: block;
				text-align: right;
				&:before {
					content: "~ ";
				}
			}
			&:before, &:after {
				content: "";
				display: table;
				clear: both;
				float: none;
			}
		}
	}
  .post__footer {
		@extend .item-8;
    display: block;
    line-height: $lh;
    margin: 2rem auto;
  }
	.post__author--bio {
		@extend .item-8;
		@extend .central-column;
		@extend .post__content;
    display: block;
    line-height: $lh;
    margin: 2rem auto;
	}
}
