.post__data--meta {
	ul {
		li {
			margin-right: 0.5rem;
			&:before {
				font-family: FontAwesome;
				content: "";
				margin-right: 0.25rem;
				display: inline-block;
				width: 1rem;
				height: 1rem;
				line-height: $lh;
				vertical-align: middle;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				background-attachment: scroll;
			}

			&.author {
				&:before {
					content: "";
					fill: tomato;
					background-image: url("img/ui/user.svg");
				}
			}

			&.date {
				&:before {
					content: "";
					background-image: url("img/ui/calendar.svg");
				}
			}

			&.read_time {
				&:before {
					content: "";
					background-image: url("img/ui/time.svg");
				}
			}

			&.comments {
				&:before {
          content: "";
					background-image: url("img/ui/comments.svg");
				}
			}

			&.read_comments {
				&:before {
          content: "";
					background-image: url("img/ui/comments.svg");
				}
			}

			&.write_comments, &.edit {
				&:before {
					content: "";
					background-image: url("img/ui/edit.svg");
				}
			}

			&:hover {
				&:before {
					@include animation(pulse 0.25s 1);
				}
			}
		}
	}
}

.post__data {
	font-size: $font_size-xsm;
	color: $clr_grey-mid;
	padding: 0;
	margin-bottom: $baseline;

	ul {
		li {
			font-size: $font_size-xsm !important;
			line-height: $lh;
		}
	}

	cite {
		font-style: normal;
	}

	.author__avatar {
		@include border-radius(50%);
		display: inline-block;

		&.author__avatar--small {
			width: $font_size-sml;
			height: $font_size-sml;
		}
	}
}
