// Baseline
$baseline: 18px;
$bl: $baseline;

// Colors
$clr_brand: #a1213d;
$clr_black: #010101;
$clr_grey-dark: #374043;
$clr_grey-mid: #465255;
$clr_grey-light: #edeff0;
$clr_white: #fffffe;

$clr_error: hsb(0, 100, 50);
$clr_success: hsb(120, 100, 50);
$clr_warning: hsb(30, 100, 50);

$clr_bg-accent: $clr_grey-light;
$clr_bg-main: $clr_white;

$clr_shadow: $clr_black;

// Fonts
@import url( 'https://fonts.googleapis.com/css?family=Comfortaa|Overpass:300');
$font_face-main: "Overpass", Arial, "Helvetica Neue", Helvetica, sans-serif;
$font_face-accent: "Comfortaa", "Times New Roman", Times, Baskerville, Georgia, serif;

$font_clr-main: $clr_grey-dark;

$font_size-xsm: ($baseline * 0.6);
$font_size-sml: ($baseline * 0.8);
$font_size-std: $baseline;
$font_size-med: ($baseline * 1.33);
$font_size-lrg: ($baseline * 1.66);
$font_size-xlg: ($baseline * 2.33);

$line-height: 1.66;
$lh: $line-height;

// Opacity
$opacity-transparent: 0;
$opacity-standard: 0.66;
$opacity-solid: 1;

// CSS3 Transitions
$ease-main: cubic-bezier(0.64, 0.22, 0.69, 0.98);
$ease-bounce: cubic-bezier(.66,-0.59,.39,1.51);

$speed-fastest: 180ms;
$speed-fast: 200ms;
$speed-slow: 800ms;
