// Colophon
footer#colophon {
	display: block;
	width: 100%;
	padding: $baseline;
	#copyright small {
		font-family: $font_face-main;
		font-size: 0;
		color: $clr_grey-mid;
		span {
			display: block;
			font-size: $font_size-xsm;
			line-height: $lh;
		}
		@media (min-width: 768px) {
			font-size: $font_size-xsm;
			span {
				display: inline;
			}
		}
	}
}

button#return_to_top {
	@media screen and (max-width: 767px) {
		display: none !important;
	}
	@media screen and (min-width: 768px) {
		position: fixed;
		right: 0;
		bottom: 2vh;
		z-index: 10000;
		transition: $ease-main $speed-fast;
		margin: 0 !important;
	}
	&[data-state="not-shown"] {
		transform: translate3d(100%, 0, 0);
		-webkit-transform: translate3d(100%, 0, 0);
	}
	&[data-state="is-shown"] {
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}
}