// Masthead

header#masthead {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	transition: $ease-main $speed-fast;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	background: $clr_black;
	&.home {
		background: none;
	}
	&.open {
		background: $clr_black;
	}

	&.slide-away {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
	}
	#site-title {
		display: block;
		float: left;
		position: relative;
		z-index: 130;
	}
}

h1.company_logo {
	font-family: $font_face-accent;
	opacity: 1;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	transition: $ease-main $speed-fast;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	a {
		&:before {
			content: "";
			display: inline-block;
			height: ($baseline * 2);
			width: ($baseline * 1.5);
			vertical-align: middle;
			background-image: url('img/cupcake--white.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			margin: -($baseline / 2) ($baseline / 2) 0 0;
		}
		&:hover {
			&:before {
				@include animation(pulse 0.25s 1);
			}
		}
		display: block;
		padding: $baseline 0 $baseline $baseline;
		font-family: $font_face-accent;
		font-size: $font_size-std;
		text-transform: lowercase;
		text-decoration: none;
		line-height: $font_size-med;
		color: $clr_bg-main;
		border: none;
	}
	.home & {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
	}
	.open & {
		opacity: 1;
		transform: translateY(0);
		-webkit-transform: translateY(0);
	}
	.considerate & {
		@include animation(pulse 0.25s 1);
	}
}

@-moz-document url-prefix() {
	// Firefox specific code
}
