section.navigation {
	display: block;
	text-align: center;
	.button__wrapper {
		display: block;
		text-align: center;
		font-size: $font_size-std;
		padding: ($baseline / 2) ($baseline * 2);
	}
}