#nav-social_sharing {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  z-index: 5000;
  background: rgba($clr_black, $opacity-solid);
  font-size: 0;
  padding: ($baseline / 2) $baseline;
  transition: bottom $ease-main $speed-fast;
  text-align: center;
  &.open {
	bottom: 0;
  }
  li {
	display: inline-block;
    a {
      color: $clr_bg-main;
      font-size: $font_size-med;
	  padding: $baseline;
	  &:hover {
		font-weight: bold;
	  }
    }
  }
}