aside.sidebar {
	position: absolute;
	top: ($baseline * 3.5);
	right: 0;
	width: 300px;
	height: 100vh;
	padding: $baseline ($baseline / 2);
	transform: translate3d(300px, 0, 0);
	-webkit-transform: translate3d(300px, 0, 0);
	transition: $ease-main $speed-fast;
	background: rgba($clr_black, $opacity-solid);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	color: $clr_bg-main;
	font-family: $font_face-main;
		&[data-state="open"] {
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
	}
}

form {
	&.searchform {
		padding: $baseline;
		input {
			background-color: rgba($clr_bg-main, 1);
			color: $font_clr-main;
			width: 100%;
			&[type="text"] {
				font-size: $font_size-std;
				line-height: 1;
				height: $font_size-std;
				margin: ($baseline / 2) 0;
				padding: $baseline;
			}
		}
	}
}
